{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

	<div class="card mx-auto" style="max-width: 550px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Забыли пароль?</h4>
          {% include 'includes/alerts.html' %}
      <form action="{% url 'forgotPassword' %}" method="POST">
			{% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Адрес электронной почты" name="email">
          </div>

          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right">Знаете пароль? Войти</a>

          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Подтвердить</button>
          </div>
      </form>
      </div>
    </div>

     <p class="text-center mt-4">Нет учетной записи? <a href="{% url 'register' %}">Регистрация</a></p>
     <br><br>
</section>

{% endblock %}