{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

    {% if request.GET.command == 'verification' %}

    <div class="container mx-auto alert alert-info text-center" role="alert"
         style="max-width: 1024px; margin-top:100px;">
        Спасибо за вашу регистрацию в нашем магазине. Мы отправили письмо активации на ваш электронный адрес [{{ request.GET.email }}]
        <br><br>
        Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a>
    </div>

    {% else %}

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Вход</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Адрес электронной почты" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Пароль" name="password">
                </div>

                <div class="form-group">
                    <a href="{% url 'forgotPassword' %}" class="float-right">Забыли пароль?</a>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                </div>
            </form>
        </div>
    </div>

    <p class="text-center mt-4">Нет учетной записи? <a href="{% url 'register' %}">Регистрация</a></p>
    <br><br>

    {% endif %}

</section>

{% endblock %}