{% load static %}

<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-2">
                <p class="text-muted"> &copy 2022 MensLine </p>
            </div>
            <div class="col-md-8 text-md-center">
                <span class="px-2">info@gmail.com</span>
                <span class="px-2">8(863)700-70-70</span>
                <span class="px-2">Ростов-на-Дону, ул. Пушкинская, 7 </span>
            </div>
            <div class="col-md-2 text-md-right text-muted">
                <i><img src="{% static './images/misc/iokassa_wb.png' %}" height="26"></i>
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.mainImage img').attr('src', $(this).attr("href"));
        })
    })

</script>


</body>
</html>