{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="payment-form">
    <div class="loader">
</div>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const token = "{{ confirmation_token }}"
const url = "{% url 'payments' %}"
const csrftoken = getCookie('csrftoken');
const orderID = "{{ order_number }}"
const transID = "{{ transaction_id }}"
const payment_method = 'ЮKassa'
const redirect_url = "{% url 'order_complete' %}"

const checkout = new window.YooMoneyCheckoutWidget({
    confirmation_token: token,

    customization: {
        modal: true,
        colors: {
            control_primary: '#FFDE00',
            background: '#F2F3F5',
        },
    },
    error_callback: function(error) {
        console.log(error)
    }
});

checkout.on('complete', () => {
      sendData();
      function sendData(){
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            orderID: orderID,
            transID: transID,
            payment_method: payment_method,
          }),
        })
         .then((response) => response.json())

         .then((data) => {
            window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
         });
      }

checkout.destroy();
});

checkout.render('payment-form')

.then(() => {});

</script>


{% endblock %}